 
 /* sekedar catatan saja  */
 /*irem == 16px*/


 body{
    margin: 0;
    padding: 0;
}

/* Untuk videonya */
.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

/* Untuk navbar */
nav{
    background: rgba(0, 0, 0, .5);
    height: 80px;
}

nav ul{
    list-style: none;
    float: right;
    margin: 20px;
}

nav ul li{
    display: inline-block; 
    margin: 10px 5px;
    
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    font-family: Poppins;
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
}

nav ul li a:hover{
    background: coral;
    border-bottom: 1px solid coral;
    transition: .4s;
}


#navbar-logo{
    height: 70px;
    width: 300px; 
    padding: 0%;
}


/* Untuk info dibawah navbar */
#info-utama{
    display: flex;
}

#identitas{
    width: 50%; /*memebuat tulisan bisa menjadi 50% dr web*/
}

.section{
    padding: 8px;
 }

#identitas h3{
    font-size: 20px;
}

#identitas h1{
    font-size: 30px;
    font-family: 'Audiowide', cursive;
}

#identitas p{
    line-height: 30px;
    color:white;
    font-size: 20px;
    font-family: Bellota;
}

#gambar{
    width: 30%;
}

#gambar img{
    width: 80%;
    border-radius: 1rem;
}

/* Button Callme */
.button{
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    margin: 5px;
    padding: 7px 28px;
    text-decoration: none;
    border: 1px solid coral;
    border-radius: 25px;
}

.btn1{
    background: coral;
    color: #fff;
}

.btn2:hover{
    background:coral;
    transition: .4s;

}

/* Footer */
#section-footer{
    text-align: left;
    color: white;
    border-radius: 20px;
    transition: 0.2s;
    font-size: 20px;

    position: absolute;
    bottom: 0px;

    width: 100%;
    height: 50px;
}





